.body_div {
    display: block;
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
}

.button {
    width: 280px;
    text-align: center;
}

a.action {
    color: red;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    width: 46px;
    display: inline-block;
    text-align: center;
}

a.action:hover {
    font-weight: bold;
}

a.action2 {
    color: lavenderblush;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    width: 30px;
    display: inline-block;
    text-align: center;
}

a.action2:hover {
    font-weight: bold;
}

.add_row:hover {
    background-color: #7c43bd;
}

.mat-column-id {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 28%;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    border-right: solid 1px #000;
    border-left: solid 2px #000;
    text-align: center;
    min-width: 30px;
}

.mat-column-title {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 28%;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 8px;
    border-right: solid 1px #000;
}

.mat-column-author {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 18%;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 8px;
    border-right: solid 1px #000;
}

.mat-column-pages {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 18%;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 8px;
    border-right: solid 1px #000;
    min-width: 60px;
}

.mat-column-type {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 18%;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 8px;
    border-right: solid 1px #000;
    min-width: 40px;
}

.mat-column-action {
    white-space: unset;
    width: 15% !important;
    word-wrap: break-word;
    word-break: break-word;
    -moz-hyphens: auto;
    hyphens: auto;
    border-right: solid 2px #000;
    text-align: center;
}

.table_div {
    text-align: -moz-center;
}

.mat-table {
    width: 100%;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    border-radius: 10px;
    background: transparent;
    margin-top: 10px;
}

.mat-button,
.mat-flat-button {
    display: block;
    background-color: #4a138c;
    margin: auto;
}

table {
    border-collapse: separate;
}

td {
    border-top: solid 1px #000;
    background-color: #4a138c;
    color: lavenderblush;
}

th {
    border-top: solid 2px #000;
    background-color: #4a138c;
    color: lavenderblush;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
    padding-right: 0;
}

th.mat-header-cell:first-of-type {
    padding-left: 8px;
}

td.mat-cell:first-of-type {
    padding-left: 0;
}

tr:last-child td {
    border-bottom: solid 2px #000;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}