<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!DOCTYPE html>

<html>

<head>
  <title>First AngularJS Application</title>
  <script src="~/Scripts/angular.js"></script>
</head>

<body ng-app>

  <div class="body_div">
    <!-- TOOLBAR -->
    <div class="toolbar_div">
      <mat-toolbar class="toolbar">
        <div class="toolbar_title">
          <a class="nav-item nav-link toolbar-home-btn" routerLink="/">
            <span class="span-home-btn">Library app</span>
          </a>
        </div>
        <div class="toolbar_div_button">
          <span class="span_btn">
            <a class="nav-item nav-link" routerLink="/person">
              <button class="toolbar_button">Client</button>
            </a>
          </span>
        </div>
        <div class="toolbar_div_button">
          <span class="span_btn">
            <a class="nav-item nav-link" routerLink="/book">
              <button class="toolbar_button">Książka</button>
            </a>
          </span>
        </div>
        <div class="toolbar_div_button">
          <span class="span_btn">
            <a class="nav-item nav-link" routerLink="/author">
              <button class="toolbar_button">Autor</button>
            </a>
          </span>
        </div>
      </mat-toolbar>

      <hr>

    </div>
  </div>

</body>

</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
