
.body_div {
  width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.toolbar {
  width: auto;
  height: 55px;
  background-color: #4a138c;
  border-radius: 10px;
}

.toolbar_div {
  width: 1200px;
  height: 55px;
  float: left;
  margin: 0 0 20px 0;
  border-radius: 15px;
}

.toolbar_title {
  display: block;
  width: auto;
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 7px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span {
  color: lavenderblush;
}

.toolbar_div_button {
  height: 30px;
  width: 100px;
  text-align: center;
  line-height: 30px;
  margin: 0 10px 0 10px;
}

.toolbar_button {
  display: inline-block;
  height: 30px;
  color: lavenderblush;
  font-size: 14px;
  background-color: transparent;
  border: transparent;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.toolbar_button:hover {
  height: 30px;
  background-color: #7c43bd;
  border-radius: 10px;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 280px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 10%;
}

.mat-column-userId {
  flex: 0 100px 100px;
}

.button {
  width :280px;
  text-align: center;
}

th {
  margin-right: 100px;
}

a.action {
  color:red;
  cursor: pointer;
  margin: 10px;
}

a.action2 {
  color: lavenderblush;
  cursor: pointer;
  margin: 10px;
}

a.action2:hover {
  font-weight: bold;
}

a.action:hover {
  font-weight: bold;
}

.mat-column-id {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 28%;
  width:5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  border-right: solid 1px #000;
  border-left: solid 2px #000;
}

.mat-column-name {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 28%;
  width: 35% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 8px;
  border-right: solid 1px #000;
}

.mat-column-surname {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 18%;
  width: 35% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 8px;
  border-right: solid 1px #000;
}

.mat-column-pesel {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 18%;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 8px;
  border-right: solid 1px #000;
}

.mat-column-action {
  white-space: unset;
  width: 15% !important;
  word-wrap: break-word;
  word-break: break-word;
  -moz-hyphens: auto;
  hyphens: auto;
  border-right: solid 2px #000;
}

.table_div {
  text-align: -moz-center;
}

.mat-table {
  width: 1200px;
}

.mat-button, .mat-flat-button {
  background-color: #4a138c;
  margin: 0 0 10px;
}

table {
  border-collapse: separate;
  background: transparent;
}

td {
  border-top: solid 1px #000;
  background: transparent;
  background-color: #4a138c;
  color: lavenderblush;
}

th {
  border-top: solid 2px #000;
  background: transparent;
  background-color: #4a138c;
  color: lavenderblush;
}

tr:last-child td{
  border-bottom: solid 2px #000;
}

tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

th:first-child { border-top-left-radius: 10px; }
th:last-child { border-top-right-radius: 10px; padding: 8px; }
